* {
  background-color: #A9B3DA;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

/*media queries for interactive webpage*/
@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {}